<nav class="navbar is-info" *ngIf="_userService.identity!= undefined && _userService.identity">   
     <a class="navbar-item">
       <!-- <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28"> -->
       <img src="assets/logo.svg" alt="" srcset="">
     </a>
     <div class="navbar-burger burger is-pulled-right" style="position: absolute; right:0; top:0; z-index:9999" data-target="navbarMainMenu">
       <span></span>
       <span></span>
       <span></span>
     </div>   
 
   <div id="navbarMainMenu"  class="navbar-menu navbar-main-menu">
     <div class="navbar-start">
       <a class="navbar-item" [routerLink]="['/home']" routerLinkActive="router-link-active" >
         <i class="fas fa-home fa-x2"></i>
         Home
       </a>
       <a class="navbar-item" *ngIf="_userService.identity && _userService.identity!= undefined && _userService.identity.role == 'ROLE_ADMIN'" [routerLink]="['/add-pronostico']" routerLinkActive="router-link-active" >
         <i class="fas fa-plus fa-x2"></i>
         Crear pronostico
       </a>
       <a class="navbar-item" [routerLink]="['/pronosticos']" routerLinkActive="router-link-active" >
         <i class="far fa-list-alt fa-x2"></i>
         Pronósticos
       </a>
       <a class="navbar-item" [routerLink]="['/contacto']" routerLinkActive="router-link-active" >
         <i class="far fa-address-book fa-x2"></i>
         Contacto
       </a>
       <a class="navbar-item" [routerLink]="['/charts']" routerLinkActive="router-link-active" >
         <i class="far fa-chart-bar fa-x2"></i>
         Estadísticas
       </a>
       <a class="navbar-item" [routerLink]="['/users']" routerLinkActive="router-link-active" *ngIf="_userService.identity && _userService.identity!= undefined && _userService.identity.role == 'ROLE_ADMIN'">
         <i class="far fa-user fa-x2"></i>
         Usuarios
       </a>
       <!-- <a class="navbar-item" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=C47XQVYHDSKZU" target="_blank">
         <i class="fas fa-hand-holding-usd fa-x2"></i>
         Propina
       </a> -->
      
     </div>
 
     <div class="navbar-end">
       <div class="navbar-item">
         <div class="field is-grouped">
           <p class="control" *ngIf="!_userService.identity || _userService.identity == undefined">
             <a class="bd-tw-button button is-rounded" [routerLink]="['/home']" >
               <span class="icon">
                     <i class="fas fa-sign-in-alt fa-x2"></i>
               </span>
               <span>
                 Login
               </span>
             </a>
           </p>
           <p class="control" *ngIf="!_userService.identity || _userService.identity == undefined">
             <a class="button is-primary is-rounded" (click)="showLogin = !showLogin">
               <span class="icon">
                 <i class="fas fa-user-plus"></i>
               </span>
               <span>Registro</span>
             </a>
           </p>

           <p class="control" *ngIf="_userService.identity && _userService.identity!= undefined">
               <a class="button is-light is-rounded" (click)="logout();">
                 <span class="icon">
                   <i class="fas fa-door-open"></i>
                 </span>
                 <span>Salir</span>
               </a>
             </p>          
         </div>
       </div>
     </div>
   </div>
 </nav>
 
<router-outlet></router-outlet>

<!-- <app-player></app-player> -->