<h4 class="subtitle is-4 has-text-centered">
    Contacto
</h4>
<div *ngIf="statusOK" class="col-sm-12">
      <div class="alert alert-success">
        Muchas gracias! Tu mensaje se ha enviado correctamente, te reponderemos lo antes posible. 
      </div>
</div>
<!-- <div *ngIf="statusOK" class="notification is-success">
    <button class="delete" (click)="statusOK = false"></button>
    Muchas gracias! Tu mensaje se ha enviado correctamente, te reponderemos lo antes posible. 
  </div> -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form #contactoForm="ngForm" (ngSubmit)="onSubmit()">
      <section id="contact" class="content-section">
              <div class="contact-section">
                  <div class="container">
                    <!--<h2 class="h2-customized">Contacto</h2>-->
                    <p class="has-text-centered">Envíanos tus dudas o sugerencias rellenando el formulario o a través de las redes sociales</p>
                    <div class="row">
                      <div class="col-md-6 col-md-offset-3">
                        <form>
                          <div class="form-group-p">
                            <input type="text"  id="InputName2" #nombre="ngModel" [(ngModel)]="datosContacto.nombre" name="nombre" required>
                            <label for="InputName2" class="control-label">Nombre</label>
                            <i class="bar"></i>
                            <div *ngIf="nombre.errors && (nombre.dirty || nombre.touched) && submitted" class="alert alert-danger">
                               <div [hidden]="!nombre.errors.required">
                                      Elnombre es obligatorio
                               </div>   
                            </div>
                          </div>
                          <div class="form-group-p">
                            <input type="email"  id="InputEmail2"[(ngModel)]="datosContacto.email" name="email" #email="ngModel" required>
                            <label for="InputEmail2" class="control-label">Email</label>
                            <i class="bar"></i>
                            <div *ngIf="email.errors && (email.dirty || email.touched) && submitted" class="alert alert-danger">
                               <div [hidden]="!nombre.errors.required">
                                      El email es obligatorio
                               </div>   
                            </div>
                          </div>
                          <div class="form-group-p ">
                            <textarea   [(ngModel)]="datosContacto.mensaje" name="mensaje" #mensaje="ngModel" required></textarea> 
                            <label for="InputText" class="control-label">Tu mensaje</label>
                            <i class="bar"></i>
                           <div *ngIf="mensaje.errors && (mensaje.dirty || mensaje.touched) && submitted" class="alert alert-danger">
                               <div [hidden]="!nombre.errors.required">
                                      El mensaje es obligatorio
                               </div>   
                            </div>
                          </div>
                          <button type="submit" class="button is-success is-rounded" (click)="onSubmit()">Enviar mensaje</button>
                        </form>
                        <hr>
                          <!--<h3 class="h3-customized">Redes sociales</h3>-->
                        <!-- <ul class="list-inline banner-social-buttons">
                          <li><a href="#" class="btn btn-primary btn-lg"><i class="fab fa-twitter"> <span class="network-name"></span></i></a></li>
                          <li><a href="#" class="btn btn-primary btn-lg"><i class="fab fa-facebook"> <span class="network-name"></span></i></a></li>
                          <li><a href="#" class="btn btn-danger btn-lg"><i class="fab fa-youtube"> <span class="network-name"></span></i></a></li>
                        </ul> -->
                      </div>
                    </div>
                  </div>
              </div>
      </section>
      </form>
    </div>
  </div>
</div>
      